

:root {
  --primary-font-size: 2rem;
  --secondary-font-size: 1.2rem;
}

/* Navigation Bar */

#navbar {
  font-family: "Times New Roman", Times, serif;
  width: 300px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  border-right: 2px solid black;
  text-align: center;
}

#navbar header {
  padding: 10px;
  border-bottom: 2px solid black;
  margin: 0;
}

#navbar ul {
  overflow-y: auto;
  overflow-x: hidden;
  height: 88%;
  padding: 0;
  margin: 0;
}

#navbar li {
  font-size: var(--secondary-font-size);
  border-bottom: 1px solid black;
  padding: 10px;
  position: relative;
  list-style: none;
}

#navbar li a {
  text-decoration: none;
  color: black;
}

/* Main content  */

#main-doc {
  position: absolute;
  margin-left: 310px;
  margin-right: 10px;
  padding:0 20px;
  font-family: 'Times New Roman', Times, serif;
  max-width: 100%;
}

#main-doc .main-section{
    padding: 10px;
    border-bottom: 2px solid black;

}

#main-doc .main-section header{
    font-size: var(--primary-font-size);
}

#main-doc .main-section article{
    font-size: var(--secondary-font-size);
    margin: 15px;
}

/* Formating the code sections  */

code{
  display: block;
  padding: 25px;
  margin: 10px;
  background-color: rgb(245, 245, 245);
  text-align: left;
  font-size: 1rem;
  font-family: monospace;
  width: 80%;
}

/* Adding colors to the right column in Data Types section  */

table td:nth-child(2){
    color: red;
}

header{
    font-size: var(--primary-font-size);
    font-weight: bold;
}

/* Media Queries to make the website responsive  */

@media(max-width: 815px) {
    #navbar{
        background-color: white;
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }

    #navbar ul{
        height: 80%;
    }
    #main-doc{
        position: relative;
        margin-left: 0;
        margin-top: 275px;
        margin-right: 0;
    }
}

@media (max-width:450px) {
    :root{
        --primary-font-size:1.5rem;
        --secondary-font-size:1rem;
    }

    code{
        font-size: 0.8rem;
    }

    #main-doc{
        padding: 0;
    }
}